@charset "UTF-8";
.navbar-btn {
  margin-bottom: 0.05rem;
  margin-top: 0.05rem; }

.d_tags {
  margin: -5px 0; }

.d_tags .btn,
.post-tags .btn {
  border-radius: 80px; }

.d_tags .btn {
  margin: 5px 0; }

.dropdown .dropdown-menu .nav-item .nav-link {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: normal;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0; }
  .dropdown .dropdown-menu .nav-item .nav-link:focus, .dropdown .dropdown-menu .nav-item .nav-link:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9; }
  .dropdown .dropdown-menu .nav-item .nav-link.active, .dropdown .dropdown-menu .nav-item .nav-link:active {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8; }
  .dropdown .dropdown-menu .nav-item .nav-link.disabled, .dropdown .dropdown-menu .nav-item .nav-link:disabled {
    color: #636c72;
    background-color: transparent; }

.bw {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #3097D1;
  background-image: -webkit-linear-gradient(top, #216a94, #3097D1);
  background-image: linear-gradient(to bottom, #216a94, #3097D1); }

.carousel-number {
  position: absolute;
  top: 5px;
  right: 10px;
  float: left;
  z-index: 15;
  display: flex;
  justify-content: center;
  list-style: none; }
  .carousel-number li {
    margin-left: 10px; }

.carousel-item a img {
  width: 100%; }

.text-overflow-ellipsis, ul.posts-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.sidebar .card {
  margin-bottom: 1rem; }

blockquote,
.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1rem;
  quotes: "“" "”" "‘" "’"; }

blockquote::before,
.blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

.card-header {
  background-color: #fff; }

.card .card-block ul {
  margin-bottom: 0; }

.card-img-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  background: rgba(5, 5, 5, 0.4); }

.card-inverse {
  color: rgba(255, 255, 255, 0.65); }
  .card-inverse .card-header,
  .card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2); }
  .card-inverse .card-header,
  .card-inverse .card-footer,
  .card-inverse .card-title,
  .card-inverse .card-blockquote {
    color: #fff; }
  .card-inverse .card-link,
  .card-inverse .card-text,
  .card-inverse .card-subtitle,
  .card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65); }
  .card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff; }

/**
 * 11.4 - Comments
 */
.comments-area {
  margin: 0; }

.comment-respond {
  margin-bottom: 1rem; }

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: 1rem; }

.comments-title {
  margin-bottom: 1rem; }

.comment-list {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .comment-list article,
  .comment-list .pingback,
  .comment-list .trackback {
    border-bottom: 1px solid #d1d1d1;
    padding: 1rem 0; }
  .comment-list .children {
    list-style: none;
    margin: 0; }

.comment-author {
  color: #1a1a1a;
  margin-bottom: 0.4375em; }
  .comment-author .avatar {
    float: left;
    height: 28px;
    margin-right: 0.875em;
    position: relative;
    width: 28px; }

.comment-meta {
  font-size: .85rem; }

.comment-metadata,
.pingback .edit-link {
  color: #999; }

.comment-metadata {
  margin-bottom: .5rem; }

.comment-metadata a,
.pingback .comment-edit-link {
  color: #999; }

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
  color: #007acc; }

.comment-metadata .edit-link,
.pingback .edit-link {
  display: inline-block; }

.comment-content {
  color: #666;
  font-size: .85rem; }
  .comment-content ul,
  .comment-content ol {
    margin: 0 0 1.5em 1.25em; }
  .comment-content li > ul,
  .comment-content li > ol {
    margin-bottom: 0; }

.comment-form {
  padding-top: .5rem; }
  .comment-form label {
    color: #686868;
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    margin-bottom: 0.5384615385em;
    text-transform: uppercase; }

.comment-list .comment-form {
  padding-bottom: .5rem; }

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
  margin-bottom: 2.1538461538em; }

.no-comments {
  border-top: 1px solid #d1d1d1;
  font-weight: 700;
  margin: 0;
  padding-top: 1.75em; }

.comment-navigation + .no-comments {
  border-top: 0;
  padding-top: 0; }

.form-allowed-tags code {
  font-family: Inconsolata, monospace; }

.required {
  color: #007acc; }

.comment-reply-title {
  margin-top: 1rem; }
  .comment-reply-title small {
    font-size: 100%; }
  .comment-reply-title small a {
    border: 0;
    float: right;
    overflow: hidden; }
  .comment-reply-title small a:hover,
  .comment-reply-title small a:focus {
    color: #1a1a1a; }

.entry {
  padding: 1.25rem 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 1rem; }

.entry.media {
  transition: all 0.3s ease; }
  .entry.media:hover {
    background-color: #faf7fa; }

ul.posts-list li a,
[class*="posts-card"] .card-title a,
.media-heading a,
.entry-title a {
  color: #292b2c;
  text-decoration: none;
  transition: all 0.3s ease; }
  ul.posts-list li a:focus, ul.posts-list li a:hover,
  [class*="posts-card"] .card-title a:focus,
  [class*="posts-card"] .card-title a:hover,
  .media-heading a:focus,
  .media-heading a:hover,
  .entry-title a:focus,
  .entry-title a:hover {
    color: #0275d8;
    text-decoration: none; }

.entry-meta {
  color: #999; }
  .entry-meta a {
    color: #999;
    text-decoration: none;
    transition: all 0.3s ease; }
    .entry-meta a:focus, .entry-meta a:hover {
      color: #0275d8;
      text-decoration: none; }

.entry-header::after {
  display: block;
  width: 160px;
  height: 4px;
  border-radius: 3px;
  background: #efefef;
  content: "";
  margin-top: 1rem; }

.hot-post,
.cat-post {
  margin-bottom: 10px; }

.media-heading {
  font-weight: 400; }
  .media-heading a {
    color: #444; }

.box-img img {
  width: 100%;
  height: auto; }

.card-img-top {
  width: 100%; }

.thumbnail-1,
.thumbnail-2,
.thumbnail-3,
.thumbnail-4,
.thumbnail-5,
.thumbnail-5,
.thumbnail-6,
.thumbnail-7,
.thumbnail-8,
.thumbnail-9,
.thumbnail-10,
.thumbnail-11,
.thumbnail-12 {
  overflow: hidden; }

.thumbnail-1 {
  width: 80px; }

.thumbnail-2 {
  width: 180px; }

.thumbnail-3 {
  width: 280px; }

.thumbnail-4 {
  width: 380px; }

.thumbnail-5 {
  width: 480px; }

.thumbnail-6 {
  width: 580px; }

.thumbnail-7 {
  width: 680px; }

.thumbnail-8 {
  width: 780px; }

.thumbnail-9 {
  width: 880px; }

.thumbnail-10 {
  width: 980px; }

.thumbnail-11 {
  width: 1080px; }

.thumbnail-12 {
  width: 1180px; }

.thumbnail-1 img,
.thumbnail-2 img,
.thumbnail-3 img,
.thumbnail-4 img,
.thumbnail-5 img,
.thumbnail-5 img,
.thumbnail-6 img,
.thumbnail-7 img,
.thumbnail-8 img,
.thumbnail-9 img,
.thumbnail-10 img,
.thumbnail-11 img,
.thumbnail-12 img {
  transition: all .5s ease; }

.thumbnail-medium:hover img,
.thumbnail-large:hover img,
.thumbnail-huge:hover img,
.thumbnail-1:hover img,
.thumbnail-2:hover img,
.thumbnail-3:hover img,
.thumbnail-4:hover img,
.thumbnail-5:hover img,
.thumbnail-5:hover img,
.thumbnail-6:hover img,
.thumbnail-7:hover img,
.thumbnail-8:hover img,
.thumbnail-9:hover img,
.thumbnail-10:hover img,
.thumbnail-11:hover img,
.thumbnail-12:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1); }

.thumbnail-1,
.thumbnail-2 {
  height: auto;
  position: relative; }

.thumbnail-1 img,
.thumbnail-1 img {
  width: 100%;
  height: auto; }

.corner {
  color: #fff;
  font-size: .85rem;
  padding: 0 .5rem;
  background: rgba(12, 13, 13, 0.7); }

.hot-post .corner {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0; }

.border-0 {
  border: 0; }

.pa-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.ptb-0 {
  padding-top: 0;
  padding-bottom: 0; }

.plr-0 {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=style.css.map */
