.entry {
  padding: 1.25rem 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.entry.media {
  transition: all 0.3s ease;
  &:hover{
    background-color: #faf7fa;
  }
}

ul.posts-list li,
[class*="posts-card"] .card-title,
.media-heading,
//.posts-card .card-text,
.entry-title {
    a {
    color: $body-color;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.entry-meta {
  color: #999;
  a {
    color: #999;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.entry-header::after {
  display: block;
  width: 160px;
  height: 4px;
  border-radius: 3px;
  background: #efefef;
  content: "";
  margin-top: 1rem;
}

.hot-post,
.cat-post {
  margin-bottom: 10px;
}


.media-heading {
  font-weight: 400;
  a {
    color: #444;
  }
}
