.single-header {
  @include border-top-radius($card-inner-border-radius);
  border-bottom: $card-border-width solid $card-border-color;
}

.single-header-body {
  //background-color: rgba(10, 10, 9, 0.26);
  padding: 1.25rem;
}

ul.posts-list li,
[class*="posts-card"] .card-title,
.media-heading,
//.posts-card .card-text,
.entry-title {
    a {
    color: $body-color;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.entry-meta {
  color: #999;
  a {
    color: #999;
    text-decoration: $link-decoration;
    transition: all 0.3s ease;

    @include hover-focus {
      color: $link-color;
      text-decoration: $link-decoration;
    }
  }
}

.entry-header::after {
  display: block;
  width: 160px;
  height: 4px;
  border-radius: 3px;
  background: #efefef;
  content: "";
  margin-top: 1rem;
}

.hot-post,
.cat-post {
  margin-bottom: 10px;
}


.media-heading {
  font-weight: 400;
  a {
    color: #444;
  }
}

.posts-card {
  .card {
    border: 0;
  }
  .card-text {
    margin-top: 10px;
    font-size: 85%;
    a {
      color: #666;
    }
  }
}
