.bw {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #3097D1;
    background-image: -webkit-linear-gradient(top, #216a94, #3097D1);
    background-image: linear-gradient(to bottom, #216a94, #3097D1);
}

.post-thumbnail {
  //width: 225px;
}
@media (min-width: 1200px) {
  .post-thumbnail {
    width: 250px;
  } }

.card {
  .card-block {
    ul {
      margin-bottom: 0; //覆盖默认的1re
    }
  }
}

//文字超出一行显示省略号
.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.posts-list li {
  @extend .text-overflow-ellipsis;
}

.sidebar .card {
  margin-bottom: 1rem;
}
blockquote,
.blockquote {
background: #f9f9f9;
border-left: 10px solid #ccc;
margin: 1.5em 10px;
padding: 0.5em 10px;
font-size: 1rem;
quotes: "“" "”" "‘" "’";
}
blockquote::before,
.blockquote::before{
  color: #ccc;
content: open-quote;
font-size: 4em;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;
}
