.box-img img {
  width: 100%;
  height: auto;
}

.card-img-top {
  width: 100%;
}

.thumbnail-medium,
.thumbnail-large {
  overflow:hidden;
}

.thumbnail-medium	{
  width: 225px;
}

.thumbnail-medium img,
.thumbnail-large img {
  transition: all .5s ease;
}

.thumbnail-medium:hover img,
.thumbnail-large:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.img-box-tiny {
  width: 90px;
}
.img-box-small {
  width: 120px;
}
.img-box-tiny,
.img-box-small {
  height: auto;
  position: relative;
}
.img-box-tiny img,
.img-box-small img {
  width: 100%;
  height: auto;
}
