.bw {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #3097D1;
    background-image: -webkit-linear-gradient(top, #216a94, #3097D1);
    background-image: linear-gradient(to bottom, #216a94, #3097D1);
}
