.border-0 {
  border: 0;
}

.pa-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}
